:root {
  --background-light: #fcebd5;
  --background-normal: #edd5bb;
  --background-dark: #e09686;
  --background-gray: #e5e5e5;

  --primary-default: #a26a5e;
  --primary-contrast: #d54c2e;
  --primary-blue: #1b59ac;
  --primary-green: #1bac6f;

  --text-default: #5a5a5a;
  --text-muted: #b9b9b9;

  --font-roboto: "Roboto", sans-serif;
  --font-rennie-beanie: "Reenie Beanie", cursive;
}

/* Colors:  */
.bg-body {
  background-color: var(--background-light);
}

.bg-normal {
  background-color: var(--background-normal);
}

.bg-light {
  background-color: var(--background-light);
}

.bg-primary-default {
  background-color: var(--primary-default);
}

.bg-primary-contrast {
  background-color: var(--primary-contrast);
}

.bg-primary-blue {
  background-color: var(--primary-blue);
}

.bg-primary-green {
  background-color: var(--primary-green);
}

.bg-gray {
  background-color: var(--background-gray);
}

.text-default {
  color: var(--primary-default) !important;
}

.text-light {
  color: var(--background-light);
}

.text-normal {
  color: var(--background-normal);
}

.text-default-gray {
  color: var(--text-default);
}

/* Font Size */
.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-30 {
  font-size: 30px;
}

/* Margins */
.ml-20 {
  margin-left: 20%;
}
.ml-25 {
  margin-left: 25%;
}

a:hover {
  color: var(--background-normal) !important ;
  text-decoration: none !important;
}

/* Landing Page ----------------------------------------------------- */
.landing-page-class {
  text-decoration: none;
  color: var(--primary-default);
  font-family: var(--font-rennie-beanie);
}

.header {
  padding-bottom: 0.3rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#trapezoid {
  height: 50vh;
  padding-top: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 30%);
}

#trapezoid select {
  width: 40%;
  margin-left: 7rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid var(--primary-default);
}

#trapezoid :optional {
  font-size: 16px;
  color: var(--primary-default);
}

.artist-href,
.visitor-href {
  font-size: 3rem;
  font-family: var(--font-rennie-beanie);
}

#trapezoid-second {
  top: -50vh;
  height: 50vh;
  position: relative;
  clip-path: polygon(0 100%, 100% 100%, 100% 70%, 0 30%);
}

.visitor-href {
  top: 70%;
  left: 30%;
  z-index: -3;
  position: absolute;
  text-align: center;
}

/* ----------------------------------------------------------------- */
@media (max-width: 600px) {
  /* Landing Page -------------------------------------------------- */
  .visitor-href {
    top: 70%;
    left: 10%;
    z-index: -3;
    font-size: 3rem;
    position: absolute;
  }
  /* -------------------------------------------------------------- */
  /* Visitor Home Page -------------------------------------------- */
  .visitor-home-page-nav {
    display: flex;
  }

  .visitor-home-page-nav img {
    width: 25%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
  .visitor-home-page-nav p,
  .visitor-home-page-nav a i {
    color: var(--primary-default);
    font-size: 2rem;
  }

  .bg-pattern p {
    width: 190px;
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
    color: var(--primary-default);
    font-family: var(--font-roboto);
  }

  .bg-pattern button {
    margin-right: 17px;
    background: var(--primary-default);
    color: var(--background-light);
    font-family: var(--font-roboto);
    font-size: 12px;
    border-color: var(--primary-default);
    border-radius: 5%;
  }

  .bottom-positon {
    position: absolute;
    bottom: 0;
  }

  #exampleSlider {
    position: relative; /* recommended */
  }

  #exampleSlider .MS-content {
    white-space: nowrap; /* required */
    overflow: hidden; /* required */
    margin: 0 5%; /* makes room for L/R arrows */
  }

  #exampleSlider .MS-content .item {
    display: inline-block; /* required */
    width: 20%; /* required * Determines number of visible slides */
    position: relative; /* required */
    vertical-align: top; /* required */
    overflow: hidden; /* required */
    height: 100%; /* recommended */
    white-space: normal; /* recommended */
  }

  .item {
    width: 20%;
    height: 20%;
  }

  .carousel-artists img {
    width: 25%;
    border-radius: 50%;
    border: 5px solid var(--background-dark);
    position: absolute;
    left: 40%;
    top: 10%;
    z-index: 1;
  }
  .carousel-paragraph {
    font-size: 9px;
    color: white;
    text-align: center;
    background-color: var(--background-dark);
    padding: 20px;

    position: absolute;
    top: 30%;
  }

  .carousel-right {
    color: var(--background-dark);
    border-left: 2px solid var(--background-dark);
  }

  .carousel-control-prev span,
  .carousel-control-next span {
    color: var(--background-dark);
  }
  /* ---------------------------------------------------------------- */
  /* Visitor Listing Page ------------------------------------------- */
  .card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .card-title {
    display: inline-block;
    margin-bottom: 0;
    font-family: var(--font-rennie-beanie);
  }

  #btn-price {
    display: inline-block;
    padding: 3px 6px;
    color: var(--background-dark);
    background-color: var(--background-light);
    border: 1px solid var(--background-light);
    border-radius: 10%;
  }

  .card-text {
    font-size: 11px;
  }

  .even-card {
    color: var(--background-light);
    background-color: var(--background-dark);
  }

  .odd-card {
    background-color: var(--background-light);
    color: var(--background-dark);
  }

  .row .filter a {
    position: absolute;
    right: 50px;
    top: 500px;
    z-index: 99;
    background-color: var(--primary-contrast);
  }

  /* ---------------------------------------------------------------------- */
  /* Visitor - Filter ----------------------------------------------------- */
  #filter-artists {
    background-color: var(--background-dark);
    color: var(--background-normal);
    height: 100vh;
  }

  #filter-artists .h3 {
    color: var(--background-light);
  }

  #filter-artists input,
  #filter-artists select {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 25%;
  }

  #filter-artists ::placeholder,
  #filter-artists :optional {
    color: var(--background-normal);
  }

  #filter-artists hr {
    width: 100%;
    border: 1px solid var(--background-light);
  }

  #filter-artists .headers-filter {
    font-size: 18px;
  }

  #applFilters button {
    background: var(--background-light);
    border-color: var(--primary-default);
    border-style: none;
    font-family: var(--font-roboto);
    margin-left: 2rem;
    border-radius: 3%;
    font-size: 18px;
  }

  #applFilters a {
    position: relative;
  }

  #applFilters i {
    color: var(--primary-contrast);
    position: absolute;
    right: 15%;
    top: 90%;
    z-index: 99;
  }

  /* ----------------------------------------------------------------------- */
  /* Artist Home Page ------------------------------------------------------ */
  .total-items-income p {
    background-color: var(--primary-default);
    color: var(--background-light);
    text-align: center;
  }

  .auction-item p {
    background-color: var(--primary-contrast);
    color: var(--background-light);
    text-align: center;
  }

  .buttons button {
    color: var(--background-light);
  }
  /* ------------------------------------------------------------------------ */
  /* Artist Menu -------------------------------------------------------------*/
  #links a {
    background-color: var(--primary-default);
    color: var(--background-light);
    display: inline-block;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    width: 100%;
  }
  /* ------------------------------------------------------------------------ */
  /* Artist Item Page-------------------------------------------------------- */
  .dotted-border {
    border: 2px dashed var(--primary-default);
  }

  .btn-artist-item button,
  .buttons button,
  .buttons-add-new-item button,
  #sign-up-page button {
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .btn-artist-item button {
    color: white;
    font-size: 10px;
  }

  #btn-price {
    position: absolute;
    right: 10%;
    background-color: var(--primary-default);
    color: var(--background-light);
  }
  /* ------------------------------------------------------------------------- */
  /* Artist Add New Item Page -------------------------------------------------*/
  #artist-add-new-item-page input,
  #artist-add-new-item-page textarea {
    background-color: transparent;
    border: 1px solid var(--background-normal);
    border-radius: 5px;
    width: 100%;
  }

  .dotted-border-light {
    border: 2px dashed var(--background-normal);
    width: 90%;
    /* height: 30vh; */
  }

  p.dotted-border-light {
    width: 100%;
  }
  /* ------------------------------------------------------------------------- */
  /* Artist Capture Image Popup -----------------------------------------------*/
  .image-popup {
    height: 90vh;
  }
  /* ------------------------------------------------------------------------- */
  /* Sign-Up Page & Sign-In Page -------------------------------------------------------------*/
  #sign-up-page input,
  #sign-in-page input {
    background-color: transparent;
    border: 1px solid var(--background-dark);
    border-radius: 5px;
    width: 80%;
  }

  .facebook {
    color: var(--primary-blue);
    border: 1px solid gray;
    margin: 20px 30px;
  }

  .instagram {
    color: var(--primary-contrast);
    border: 1px solid gray;
    margin: 20px 30px;
  }

  #sign-up-page a,
  #sign-in-page a {
    color: var(--primary-default);
  }

  #sign-in-menu a {
    color: var(--primary-blue);
  }

  /* --------------------------------------- */
  /* Sign In Menu--------------------------- */
  #sign-in-menu {
    height: 100vh;
    width: 40%;
  }


  #sign-in-menu a{
    display: block;
    color: var(--primary-default);
    background-color: var(--background-normal);
    margin-top: 20px;
  }
}
